<footer class="footer" style="height: 60px; display: flex; align-items: center;">
    <div class="container">
        <div class="row my-3">
            <div class="col-6">
                <div class="text-muted footer-text">
                    Last updated: {{ "now" | date: "%b %Y" }}
                </div>
            </div>
            <div class="col-6">
                <div class="text-right text-muted footer-text">
                    Built based on {{ site.data.display.footer_text }}{% if site.data.display.footer_extra %}&nbsp;and {{ site.data.display.footer_extra }}{% endif %}
                </div>
            </div>
        </div>
    </div>
</footer>

<style>
/* 桌面端样式 */
@media (min-width: 769px) {
    .footer-text {
        padding-left: 3rem !important;
        padding-right: 3rem !important;
        white-space: nowrap;
    }
}
</style>
