@charset "utf-8";
body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    padding-top: 5.0rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
}

.text-profile-position {
    font-weight: 400;
}

.text-profile-bio {
    /* font-family: "Raleway"; */
    font-weight: 400;
}

.navbar {
    opacity: 0.95;
}

.inline-badge {
    height: 16px;
    vertical-align: -10%;
    margin-right: 2px;
    line-break: unset;
}

.no-break {
    white-space: nowrap;
}

.cover-image {
    width: 180px;
    max-height: 120px;
}

.abstract-body {
    min-height: 100px;
}

img.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

div.lazy {
    background-image: url('images/loading.gif');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 50px 50px;
    min-height: 80px;
}

.badge-publication {
    font-size: 100%;
}

.email-text {
    font-family: Courier, monospace;
}

/* 卡片标题样式 */
.card h6,
.my-3 h6,
.border-bottom h6 {
    font-size: 1.5rem !important;
    font-weight: 500;
    margin-bottom: 0;
}

/* 确保样式优先级 */
h6.border-bottom {
    padding: 1rem;
    margin: 0;
}

/* 统一标题垂直位置 */
.card-body h6 {
    margin-top: 0 !important;
    margin-bottom: 1.5rem !important;
    padding-top: 0 !important;
}

.projects-grid .col {
    margin-bottom: 2rem;
    display: flex;
}

@media (min-width: 768px) {
    .projects-grid .col:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
}

.section-title {
    font-size: 1.6rem;
    font-weight: normal;
    margin-left: 1.2rem;
    margin-bottom: 1.5rem !important;
}