<div class="row">
    <div class="col">
        <div class="card profile-card border-0 shadow-sm bg-white">
            <div class="card-body pt-md-4 pt-mb-2 px-md-5 px-4 pb-3">
                <div class="row align-items-center">
                    <!-- 左侧：自我介绍 -->
                    <div class="col-md-9 p-md-2">
                        <div class="h1 font-weight-normal profile-name">
                            {{ site.data.profile.primary_name }} <small>{{ site.data.profile.secondary_name }}</small>
                        </div>
                        <div class="text-profile-bio mt-3" {% if site.data.profile.short_bio_text_justify %}style="text-align: justify"{% endif %}>
                            {{ site.data.profile.short_bio }}
                        </div>
                    </div>

                    <!-- 右侧：头像和社交媒体图标 -->
                    <div class="col-md-3 d-flex flex-column align-items-center">
                        {% if site.data.profile.portrait_url %}
                        <div class="portrait-container portrait-offset mb-2" style="--avatar-offset: {{ site.data.profile.portrait_offset | default: '0px' }};">
                            <img 
                                src="{{ site.data.profile.portrait_url | relative_url }}" 
                                class="portrait-img"
                                data-toggle="tooltip" 
                                data-placement="top" 
                                title="{{ site.data.profile.portrait_caption }}">
                        </div>
                        {% endif %}

                        <div class="social-icons mt-2 d-flex justify-content-center">
                            {% if site.data.profile.twitter %}
                            <a class="px-1" target="_blank" href="https://twitter.com/{{ site.data.profile.twitter }}">
                                <i class="fab fa-x-twitter"></i>
                            </a>
                            {% endif %}

                            {% if site.data.profile.linkedin %}
                            <a class="px-2" target="_blank" href="https://www.linkedin.com/in/{{ site.data.profile.linkedin }}">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            {% endif %}

                            {% if site.data.profile.gscholar %}
                            <a class="px-2" target="_blank" href="{{ site.data.profile.gscholar }}">
                                <i class="fab fa-google-scholar"></i>
                            </a>
                            {% endif %}

                            {% if site.data.profile.github %}
                            <a class="px-2" target="_blank" href="https://github.com/{{ site.data.profile.github }}">
                                <i class="fab fa-github"></i>
                            </a>
                            {% endif %}

                            <a class="px-2" target="_blank" href="{{ '/assets/materials/CV_Demi Wang.pdf' | relative_url }}">
                                <i class="fas fa-file-alt"></i>
                            </a>

                            <a class="px-2" href="mailto:{{site.data.profile.email}}">
                                <i class="fas fa-envelope"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>

{% if site.data.profile.wechat_qrcode %}
<div class="modal fade" id="modal-wechat" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body p-0">
                <img src="{{ site.data.profile.wechat_qrcode | relative_url }}" class="img-fluid">
            </div>
            {% if site.data.profile.wechat_prompt %}
            <div class="modal-body p-1">
                {{ site.data.profile.wechat_prompt }}
            </div>
            {% endif %}
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %}

<style>
@media (max-width: 768px) {
    .text-profile-bio {
        font-size: 0.95rem !important;
    }
}
</style>
