{% assign publications = include.publications %}
<div class="my-3 p-0 bg-white shadow-sm rounded-sm">
    <h6 class="publication-title border-bottom border-gray p-4 mb-0">
        Publications
    </h6>
    {% for item in publications limit:include.limit %}
        {% include widgets/publication_item.html item=item first=false last=false %}    
    {% endfor %}
</div>

<style>
/* 桌面端样式 */
.publication-title {
    font-size: 1.5rem;
}

/* 移动端样式 */
@media (max-width: 768px) {
    body .publication-title {
        font-size: 1.2rem !important;
    }
}
</style>

